body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f4f4f4;
   color: #333;
}

form {
   max-width: 400px;
   margin: 20px auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input,
button {
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   font-size: 16px;
}

/* Адаптивность для планшетов */
@media (max-width: 768px) {
   body {
      font-size: 14px;
   }

   form {
      max-width: 90%; /* Уменьшаем ширину формы */
      margin: 10px auto;
   }

   input,
   button {
      font-size: 14px;
      padding: 8px;
   }
}

/* Адаптивность для смартфонов */
@media (max-width: 480px) {
   body {
      font-size: 12px;
   }

   h1 {
      font-size: 20px;
   }

   form {
      max-width: 95%; /* Ещё больше уменьшаем ширину */
      padding: 15px;
   }

   input,
   button {
      font-size: 12px;
      padding: 6px;
   }

   button {
      background-color: #007bff; /* Цвет кнопки изменён для мобильных */
   }
}
